/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;

}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 28px;
}

header {
    background-color: #fdd193;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #ffe5be;
    text-align: center;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #ffe5be;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.details-button {
    background-color: #faae16;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.place-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 8px;
}

.placedetails-img {
    display: block;
    margin: 20px auto;
    width: 1200px;
    height: 800px;
    object-fit: cover;
    border-radius: 12px;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fdd193;
    color: #333;
    padding: 1rem 0;
    font-size: 1rem;
}

